<p id="notice"><%= notice %></p>

<p>
  <b>Runner:</b>
  <%= @favorite.runner_id %>
</p>

<p>
  <b>Route:</b>
  <%= @favorite.route_id %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
