<h1>Listing results</h1>

<table>
  <tr>
    <th>Runner</th>
    <th>Route</th>
    <th>Custom distance</th>
    <th>Time minutes</th>
    <th>Date of run</th>
    <th>Effort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.runner_id %></td>
    <td><%= result.route_id %></td>
    <td><%= result.custom_distance %></td>
    <td><%= result.time_minutes %></td>
    <td><%= result.date_of_run %></td>
    <td><%= result.effort %></td>
    <td><%= link_to 'Show', runner_result_path(@runner,result) %></td>
    <td><%= link_to 'Edit', edit_runner_result_path(@runner,result) %></td>
    <td class="delete"><%= link_to 'Destroy', runner_result_path(@runner,result), :confirm => 'Are you sure?', :method => :delete %></td>     
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_runner_result_path %>
