<h1>Showing Route</h1>
<p>
  <b>Name:</b>
  <%= @route.name %>
</p>

<p>
  <b>Location:</b>
  <%= @route.location %>
</p>

<p>
  <b>Url:</b>
  <%= @route.url %>
</p>

<p>
  <b>Distance:</b>
  <%= @route.distance %>
</p>

<p>
  <b>Description:</b>
  <%= @route.description %>
</p>
<p>
  <%= link_to 'Back', routes_path, :class => "backlink" %>  
</p>